<div>
  <form class="reactive-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1>This is my angular reactive from </h1>
    <label for="username">Name: </label>
    <input id="username" type="text" formControlName="username">
    <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" style="color:red">
      Name is required
    </div>
    <br><br>

    <label for="password">Password: </label>
    <input id="password" type="password" formControlName="password">
    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" style="color:red">
      Password is required
    </div>
    <br><br>
    <button class="submit-btn" type="submit" [disabled]="loginForm.invalid">Login User </button>
  </form>
</div>