@import "primeicons/primeicons.css";

.p-tree-node-label {
    color: whitesmoke;
}

.p-tree-node-icon {
    color: whitesmoke !important;
}

.p-ripple.p-tree-node-toggle-button {
    color: whitesmoke;
}

.p-tree-node-content.p-tree-node-selectable:not(.p-tree-node-selected):hover {
    background: rgb(0, 80, 55) !important;
}