<section>
  <form id="userLoginForm" #loginForm="ngForm" (ngSubmit)="userOnSubmit(loginForm)">
  <h2>User Login</h2>
  <div class="userInput">
    <label for="username">Username:</label>
    <input
      type="text"
      id="username"
      name="username"
      required
      [(ngModel)]="user.username"
      #username="ngModel"
    />
    <div *ngIf="username.invalid && username.touched" style="color:red">
      Username is required
    </div>
  </div>

  <div class="userInput">
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      required
      [(ngModel)]="user.password"
      #password="ngModel"
    />
    <div *ngIf="password.invalid && password.touched" style="color:red">
      Password is required
    </div>
  </div>

  <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>

</section>